@font-face {
    font-family: 'Segoe WP SemiLight';
    src: url('SegoeWP-SemiLight.woff2') format('woff2'),
        url('SegoeWP-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SimploW90-CapsDEMO';
    src: url('SimploW90-CapsDEMO.woff2') format('woff2'),
        url('SimploW90-CapsDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Bold.woff2') format('woff2'),
        url('SegoeWP-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('SegoeUISymbol.woff2') format('woff2'),
        url('SegoeUISymbol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Semibold.woff2') format('woff2'),
        url('SegoeWP-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Light.woff2') format('woff2'),
        url('SegoeWP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP.woff2') format('woff2'),
        url('SegoeWP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

